{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
<nav class="navBar">
    <ul class="links">
        <li>
            <a class="nav-link" href="/">Home</a>
        </li>
        {% if app.user %}
        <li>
            <a class="nav-link" href="{{ path('react') }}">React</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        </li>
        {% else %}
        <li>
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('registration') }}">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %} {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
